.catalog_container{
    display: flex;
    gap: 10px;
    max-width: 1200px;
    margin: 20px auto;
    flex-direction: column;
    background: linear-gradient(-45deg, #378D5A, #74DC9E, #27332C);
    border-radius: 2vw;
    padding-bottom:20px ;
}

.catalogs_panels{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.filters_panel{
    border-radius: 16px;
    padding: 20px;
    background: white;
    min-width: 300px;
    max-height: 550px;
}

.filters_panel h1{
    margin: 0;
}


.search_container{
    margin-bottom: 10px;
}

.search_container input{
    outline: 0;
    padding: 10px 20px;
    width: calc(100% - 40px);
    border:1px solid black;
    border-radius: 32px;
    font-family: inherit;
    color: white;
    background: linear-gradient(-45deg, #378D5A, #27332C);
    &::placeholder{
        color: white;
    }
}



.categories_container{
    padding: 10px 0;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.category_button{
    position: relative;
    display: flex;
    align-items: center;
}

.category_title{
    width: 100%;
    padding: 10px 20px;
    border-radius: 32px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 32px;
    transition: all 300ms ease;
    &:hover{
        background: #eeeeee;
    }
}

.cancel_button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    background: white;
    width: 25px;
    height: 25px;
    border-radius: 32px;
    cursor: pointer;
    transition: all 400ms ease;
    &:hover{
        background: #7E9989;
        color: white;
    }
}




.sort_container{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sort_open{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border:1px solid black; 
    border-radius: 32px;
    transition: all 500ms ease;
}



.sort_arrow svg{
    transition: transform 300ms ease;
}

.sort_arrow.active svg{
    transform: rotate(180deg);
}

.sort_options{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 16px;
    padding: 10px 10px;
    background: linear-gradient(-45deg, #378D5A, #27332C);
}

.sort_options li{
    background: #eeeeee;
    padding: 10px 20px;
    border-radius: 16px;
    transition: all 300ms ease;
    cursor: pointer;
    &:hover{
        background: #7E9989;
        color: white;
    }
}



.items_panel{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: white;
    padding: 20px;
    border-radius: 32px;
    max-width: 780px;
    width: 100%;
}

.items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}





.containerClassName{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
    gap: 10px;
}

.pageClassName{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    transition: all 300ms ease;
    cursor: pointer;
    background: linear-gradient(-45deg, #378D5A, #27332C);
    color: white;
    list-style: none;
}

.pageClassName:hover{
    transform: scale(1.1) ;
}

.pageLinkClassName{
    position: relative;
}

.pageLinkClassName{
    position: relative;
    padding: 0px 10px 0px 10px;
}

.previousContainer, .nextContainer, .break{
    list-style: none;
    cursor: pointer;
}

.previousContainer, .nextContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 16px;
    background: none;
    transition: all 300ms ease;
    &:hover{
        background: white;
    }
    &:active{
        transform: scale(1.1);
    }
}

@media (max-width:1200px){
    .catalog_container{
        max-width: 768px;
        border-radius: 32px ;
        gap:0;
    }

    .catalogs_panels{
        align-items: center;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }
    .filters_panel{
        display: flex;
        flex-direction: row;
        padding: 10px;
        gap:10px;
    }
    .filters_panel h1{
        display: none;
    }
    .sort_container, .categories_container, .search_container{
        padding: 0;
        margin: 0;
        font-size: 10px;
    }
    
    .search_container{
        display: flex;
        align-items: center;
    }

    .search_container input{
        font-size: 12px;
    }

    .categories_container{
        flex-direction: row;
        gap: 5px;
    }

    .category_title{
        padding: 10px;
        border-radius: 16px;
    }

    .cancel_button{
        width: 15px;
        height: 15px;
    }

    .sort_container{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sort_options{
        position: absolute;
        top:0;
        z-index: 999;
        background: white;
    }

    .items_panel{
        max-width: calc(768px - 40px);
        min-height: 500px;
        padding: 10px;
    }
}

@media (max-width:768px) {
    .catalog_container{
        max-width: 400px;
        border-radius: 16px;
    }

    .catalog_container h1{
        font-size: 24px;
    }

    .catalogs_panels{
        padding: 0;
    }

    .filters_panel{
        padding: 10px;
    }

    .sort_container, .categories_container, .search_container{
        font-size: 6px;
    }
    .search_container input{
        font-size: 6px;
        padding: 8px 5px ;
        border-radius: 8px;
        border-width: 0.5px;
        width: 100%;
    }

    .cancel_button{
        height: 100%;
        width: 100%;
        right: 0;
        border-radius: inherit;
        opacity: 0;
        z-index: 999;
    }

    .sort_open, .category_title{
        padding: 5px 5px;
        border-radius:8px;
        border-width: 0.5px;
    }

    .sort_open svg{
        max-height: 15px;
    }

   .sort_container{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sort_options{
        gap: 5px;
        border: 1px solid black;
        border-radius: 8px;
        padding: 10px 10px;
        background: linear-gradient(-45deg, #378D5A, #27332C);
    }

    .sort_options li{
        font-size: 5px;
        padding: 5px 5px;
        border-radius: 8px;
    }

    .items_panel{
        max-width: 400px;
        padding: 0;
        border-radius: 16px;
        justify-content: space-between;
    }
    .items{
        padding: 10px;
        gap: 10px;
    }

    .containerClassName{
        justify-content: center;
        gap: 5px;
        margin: 0;
        margin-bottom:10px;
    }

    .pageClassName{
        border-radius: 4px;
        font-size: 12px;
    }

    .pageLinkClassName{
        position: relative;
        padding:0px ;
    }

    .previousContainer, .nextContainer{
        width: 10px;
        height: 10px;
        font-size: 14px;
    }
}

@media (max-width:400px) {
    .catalog_container{
        max-width: 300px
    }

    .filters_panel{
        padding: 10px 0;
        flex-direction: column;
    }
    
    .sort_container, .categories_container, .search_container{
        margin: 0 10px 0 10px;
        border-radius: 4px;
    }

    .categories_container{
        max-width: calc(300px - 20px);
        justify-content: space-between;
    }

    .category_button{
        width: 100%;
    }

    .category_title{        
        max-height: 20px;
        overflow: hidden;
        white-space: nowrap;
    }

    .sort_open{
        padding: 5px 0 5px 0;
        width: 100%;
        max-width: calc(100% - 10px);
    }

    .sort_options{
        z-index: 900;
        width: 100%;
        max-width: calc(100% - 20px);
        right: 0;
        
    }

    .items{
        gap: 5px;
    }

    .categories_container{
        flex-direction: column;
    }

    .category_title, .sort_open, .sort_options li ,.search_container input{
        padding-left: 10px;
        font-size: 14px;
    }

}