.deliveryContainerBG{
    max-width: 1200px;
    background: linear-gradient(-45deg, #378D5A, #74DC9E, #27332C);
    margin: 30px auto;
    border-radius: 32px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    max-height: max-content;
}

.formTitle{
    font-size: 54px;
    
}

.form{
    width: 100%;
    max-width: 45%;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    max-height: max-content;
}

.form h1{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;

}

.formBG{
    background: white;
    color: black;
    padding: 20px;
    border-radius: 32px;
}

.label{
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.label input{
    padding: 10px 20px;
    margin-top: 10px;
    font-family: inherit;
    font-size: 16px;
    outline: 0;
    border: 0;
    background: none;
    background: linear-gradient(-45deg, #378D5A, #74DC9E, #27332C);
    color: white;
    border-radius: 32px;
    background-size: 400% 400%;
    animation: nothover 500ms ease forwards;
}

.label input::placeholder{
    color: white;
}

.label input:focus-within{
    animation: hover 500ms ease forwards;
}

#notice{
    resize: none;
    height: 200px;
    outline: 0;
    border-radius: 16px;
    background: linear-gradient(-45deg, #378D5A, #74DC9E, #27332C);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-family: inherit;
    background-size: 600% 600%;
    animation: nothover 800ms ease forwards;
    &::placeholder{
        color: white;
    }
}

#notice:focus-within{
    animation: hover 800ms ease forwards;
}

.adress{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.adress label{
    width: 49%;
}

.contact{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact label{
    width: 49%;
}

.label span {
    position: absolute;
}


.informationPanels{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 45%;
    padding: 40px 20px;
}


.cartItemsTrack::-webkit-scrollbar{
    appearance: none;
    height: 10px;
    background: black;
    padding: 5px;
    border-radius: 32px;
}



.cartItemsTrack::-webkit-scrollbar-track{
    background: rgb(146, 146, 146);
    border-radius: 32px;
}

.cartItemsTrack::-webkit-scrollbar-thumb{
    background: rgb(202, 202, 202);
    border-radius: 32px;
}

.cartItemsTrack{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: scroll;
    width: 100%;
    height: 540px;
    background: white;
    border-radius: 32px 0px 0 0;
    padding: 10px 0px;
}

.trackCard{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    background: linear-gradient(-45deg, #378D5A, #27332C);
    width: 100%;
    max-width: 80%;
    border-radius: 16px;
}

.trackCard img{
    max-width: 60px;
    border-radius:10% ;
    margin-right: 20px;
}

.sumPrice{
    max-width: 200px;
    margin-left: auto;
}

.trackCard svg{
    margin-left: 10px;
    cursor: pointer;
    transition: all 300ms ease;
    &:hover{
        color:red;
        animation: shake 300ms ease;
    }
}

@keyframes shake{
    0%{transform: rotate(0);}
    25%{transform: rotate(10deg);}
    50%{transform: rotate(-10deg)}
    75%{transform: rotate(10deg)}
    100%{transform: rotate(0);}
}

.trackCard h1{
    font-size: 14px;
    max-width: 200px;
}


.info{
    background: #27332C;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 32px 32px;
}

.info h1, .info p{
    margin: 0;
}

.info h1{
    margin-bottom: 10px;
}

.submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.submit button{
    background: none;
    border: 0;
    outline: 0;
    margin-bottom: 10px;
    background: linear-gradient(-45deg, #378D5A,  #27332C);
    color: white;
    padding: 10px 0;
    font-family: inherit;
    width: 80%;
    border-radius: 32px;
    background-size: 200% 200%;
    cursor: pointer;
    animation: nothover 500ms ease forwards;
    &:hover{
        animation: hover 500ms ease forwards  ;
    }
}

@keyframes hover {
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 0%;
    }
}

@keyframes nothover {
    0%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0% 0%;
    }
}

.submit div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.submit div p{

    font-size: 12px;
}

.submit div p a{
    color: white;
}


@media (max-width:1200px) {
    .deliveryContainerBG{
        max-width: 768px;
        justify-content: space-between;
    }
    
    .formTitle{
        padding-left: 20px;
    }

    .form{
        max-width: 49%;
        margin: 10px;
        padding: 0;
    }

    .formTitle{
        font-size: 32px;
    }

    .formBG{
        max-width: 100%;
        width: 100%;
        padding: 20px;
    }

    .adress .label{
        max-width: 48%;
    }

    .contact{
        gap: 10px;
    }

    .contact .label{
        max-width: 100%;
        width: 100%;
    }

    .informationPanels{
        margin: 10px;
        padding: 0;
    }

    .cartItemsTrack{
        height: 620px;
    }

    .trackCard{
        position: relative;
    }

    .sumPrice{
        position: absolute;
        bottom: 10px;
        right: 10px;
        margin: 0;
    }

}

@media (max-width:768px) {
    .deliveryContainerBG{
        max-width: 425px;
        flex-direction: column;
        align-items: center;
    }

    .form{
        max-width: 95%;
    }

    .formBG{
        padding: 0;
        max-width: max-content;
        border-radius: 16px;
    }

    
    .formBG h1, hr, .adress, .contact, #notice{
        margin:10px;
    }


    .label input{
        font-size: 12px;
    }

    .informationPanels{
        margin-bottom: 10px;
        max-width: 95%;
        border-radius: 16px;
        background: white;
        align-items: center;
    }

    .info{
        border-radius: 16px;
    }

    .cartItemsTrack{
        max-width: 95%;
        border-radius: 16px 0 0 16px;
        margin: 20px 0;
    }
    .cartItemsTrack::-webkit-scrollbar{
        width: 10px;
    }

    .trackCard{
        padding: 0;
        width: 100%;
        max-width: 90%;
        border-radius: 8px;
        position: relative;
        justify-content:start;
    }

    .trackCard img{
        max-width: 80px;
        border-radius:8px ;
        margin-right: 10px;
    }

    .trackCard h1{
        font-size: 12px;
        max-width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .trackCard p{
        margin: 0;
        margin-top: auto;
    }

    .sumPrice{
        position: absolute;
        bottom: 5px;
        right: 10px;
    }

    .trackCard svg{
        margin-right: 20px;
        margin-left: auto;
    }
}

@media (max-width:425px) {
    .trackCard h1{
        max-width: 150px;
    }

    .trackCard svg{
        position: absolute;
        top: 5px;
        right: 10px;
        margin: 0;
        max-width: 25px;
    }
}

@media (max-width:320px) {
    .adress .label input{
        padding-left:15px ;
    }
}

@media (max-width:280px) {
    .adress .label{
        max-width: 100%;
        width: 100%;
    }
}