.AbouUsContainer{
    max-width: 1200px;
    margin: 0 auto;
}

.greeting{
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-size: 100%;
    background-repeat: no-repeat;
    background: linear-gradient(-45deg, #378D5A, #74DC9E, #27332C);
    box-shadow: 8px 8px 25px 7px rgba(0, 0, 0, 0.40);
    border-radius: 128px;
}

.greetingUpText{
    text-align: center;
    color: white;
}

.greetingUpText h1{
    font-size:clamp(32px, 64px, 72px);
    margin-bottom: 0px;
}

.greetingUpText h2{
    margin-top: 15px;
    font-size: 32px;
}

.advantages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 500px;
}

.advantage{
    color: white;
    text-align: center;
    height: 50%;
    background: linear-gradient(-45deg, #378D5A, #74DC9E, #27332C);
    border-radius: 30px;
    box-shadow: 8px 8px 25px 7px rgba(0, 0, 0, 0.40);
    max-width: 300px;
}

.advantage h1{
    display: flex;
    align-items: top;
    justify-content: center;
    min-height: 30px;
    font-size: 40px;
    margin-bottom: 10px;
}

.advantage p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 15px;
    font-size: 32px;
    font-weight: bold;
}

.marketing{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    color: white;

}

.marketing h1{
    font-size: 60px;
    margin: 0 0 60px 0;

}

.marketingCards{
    display: flex;
    justify-content: space-between;
}

.marketingCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-45deg, #378D5A, #74DC9E, #27332C);
    padding: 40px 45px;
    border-radius: 32px;
    box-shadow: 8px 8px 25px 7px rgba(0, 0, 0, 0.40);
    margin-bottom: 60px;
}

.marketingCard img{
    max-width: 150px;
}

.navButton{
    font-size: 24px;
    padding: 20px 0;
    border-radius: 32px;
    background: linear-gradient(-45deg, #378D5A, #74DC9E, #27332C);
    text-decoration: none;
    color: white;
    background-size: 300% 300%;
    transition: all 300ms ease;
    animation: nothover 1000ms ease forwards;
    &:hover{
        animation: hover 1000ms ease forwards  ;
    }
}

@keyframes hover {
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 0%;
    }
}

@keyframes nothover {
    0%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0% 0%;
    }
}


@media(max-width: 1200px){
    .AbouUsContainer{
        max-width: 768px;
        margin: 0 auto;
    }

    .greeting h1{
        font-size: 50px;
    }

    .greeting h2{
        font-size: 30px;
    }

    .advantage{
        max-width: 200px;
    }

    .advantage h1{
        padding-top: 10px;
        font-size: 30px;
    }

    .advantage p{
        font-size: 20px;
    }

   .marketing h1{
        font-size: 50px;
   }

   .marketingCard{
       margin: 0 20px;
   }

   .marketingCard img{
        max-width: 120px;
    }

    .navButton{
        margin-top: 20px;
    }

}

@media(max-width: 768px){
    .AbouUsContainer{
        max-width: 425px;
        margin: 0 auto;
    }

    .greeting{
        margin-top: 40px;
        max-height: 300px;
        width: 100%;
        border-radius: 80px;
    }
    .greeting h1{
        font-size: 30px;
        max-width: 300px;
    }

    .greeting h2{
        font-size: 20px;
        max-width: 300px;
    }

    .advantage{
        max-width: 120px;
        max-height: 120px;
    }

    .advantage h1{
        font-size: 20px;
    }

    .advantage p{
        font-size: 10px;
    }

    .marketingCards{
        max-width: 100%;

    }
    .marketingCard{
        max-width: 30px;
        margin: 0 auto;
   }

   .marketingCard h2{
        font-size: 10px;
   }

   .marketingCard img{
        max-width: 70px;
    }

    .navButton{
        margin-top: 20px;
    }   

}

@media(max-width: 425px){
    .AbouUsContainer{
        max-width: 375px;
        margin: 0 auto;
    }

    .greeting{
        margin-top: 40px;
        max-height: 240px;
        width: 320px;
        border-radius: 50px;
        
    }
    .greeting h1{
        font-size: 25px;
        max-width: 300px;
    }

    .greeting h2{
        font-size: 15px;
        max-width: 300px;
    }

    .advantage{
        max-width: 100px;
        max-height: 120px;
    }

    .marketing h1{
        font-size: 30px;
    }

    .advantage h1{
        font-size: 15px;
    }

    .advantage p{
        font-size: 10px;
    }

    .marketingCard{
        max-width: 20px;
        margin: 0 auto;
   }

   .marketingCard h2{
        font-size: 10px;
   }

   .marketingCard img{
        max-width: 50px;
    }

    .navButton{
        margin-top: 20px;
    }   
}