.profile{
    display: flex;
    justify-content: space-between;
}

.profileBlock{
    display: flex;
    gap: 15px;
}


.userIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userInfo h1{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
}

.userInfo p{
    font-size: 14px;
    border-radius: 24px;
    padding: 10px 20px;
    margin-top: 0;
    background: gainsboro;
}

.profileIcon{
    display: flex;
    align-items: center;
}

.profileIcon img{
    width: 150x;
    height: 150px;
    border-radius: 128px;
}

.widgets{
    display: flex;
    align-items: center;
    gap: 20px;
}

.widgetBG{
    width: 150px;
    padding: 50px;
    border-radius: 32px;
    text-decoration: none;
    color: white;
    background: linear-gradient(-45deg, #378D5A, #74DC9E, #27332C);
    background-size: 300% 300%;
    cursor: pointer;
    animation: nothover 1000ms ease forwards;
    &:hover{
        animation: hover 1000ms ease forwards  ;
    }
}

@keyframes hover {
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 0% 100%;
    }
}

@keyframes nothover {
    0%{
        background-position: 0% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}

.widgetInfo{
    align-items: center;
}

.widgetInfo h1{
    margin: 0;
    margin-bottom: 24px;
    font-size: 24px;
}

.widgetInfo p{
    margin: 0;
    font-size: 32px;
}





.recentlyTrack{
    display: flex;
    gap: 20px;
    max-width:910px ;
    overflow-x: scroll;
    min-height: 300px;
    padding-bottom: 10px;
}

.recentlyTrack::-webkit-scrollbar{
    appearance: none;
    height: 10px;
    background: black;
    padding: 5px;
    border-radius: 32px;
}



.recentlyTrack::-webkit-scrollbar-track{
    background: rgb(178, 178, 178);
    border-radius: 32px;
}

.recentlyTrack::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 32px;
}


@media (max-width:1200px) {

    .profile{
        padding: 20px;
        gap: 10px;
    }

    .profileBlock{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .userInfo{
        width: 100%;
    }

    .widgets{
        width: 100%;
        flex-wrap: wrap;
        align-items: normal;
    }

    .widgetBG{
        width: 100%;
        padding: 15px 0 15px 30px;
    }

    .widgetInfo{
        max-width: max-content;
    }

    .recentlyTrack{
        min-height: 200px;
        margin: 0 20px;
    }
}

@media (max-width:400px) {
    .profile{
        flex-direction: column;
    }

    .widgetBG{
        padding: 0 0 15px 30px;
        border-radius: 16px;
    }

    .recentlyContainer .title{
        font-size: 24px;
        margin-left: 10px;
    }
}

