.ordersContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.orderItemsContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nothing{
    margin:0 auto;
    display:flex;
    flex-direction:column; 
    align-items:center;
}

@media (max-width:425px) {
    .nothing h1{
        font-size: 24px;
    }
}