.item_card{
    position: relative;
    background: white;
    border-radius: 17px;
    max-width: 240px;
    max-height: 600px;
    border: 1px solid gray;
}

.item_information{
    display: flex;
    flex-direction: column;
}

.item_image{
    border-radius: 16px;
    width: 240px;
    height: 330px;
    overflow: hidden;
    cursor: pointer;
}

.item_image img{
    width: inherit;
    height: inherit;
    object-fit: fill;
    border-radius: 12px 12px 0 0;
    transition: all 500ms ease;
}

.item_image img:hover{
    transform: scale(1.2);
}


.item_text{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    min-height: 170px;
}

.item_text h1{
    margin: 0;
    font-size: 16px;
    color: black;
}

.item_text p{
    color: black;
}

.itemPrice{
    margin: 0;
}

.storageCount{
    font-size:12px;
    font-weight:500;
    display: flex;
    margin-top: auto; 
}


.item_text button{
    background: linear-gradient(-15deg, #378D5A, #27332C);
    background-size: 300% 100% ;
    color: white;
    outline: 0;
    border: 0;
    border: 1px solid gainsboro;
    width: 100%;
    padding: 10px 0;
    border-radius: 16px;
    cursor: pointer;
    font-family: inherit;
    animation: nothover 1000ms ease forwards;
    &:hover{
        animation: hover 1000ms ease forwards  ;
    }
}

@keyframes hover {
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 0%;
    }
}

@keyframes nothover {
    0%{
        background-position:100% 0%;
    }
    100%{
        background-position: 0% 0%;
    }
}



.item_card .favours{
    z-index: 800;
    position: absolute;
    max-width: 30px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    fill: white;
    stroke:black ;
    transition: all 300ms ease;

}

.item_card .favours.active{
    fill: red;
    stroke: red;
    animation: sendToFavour 200ms ease forwards;
}

@keyframes sendToFavour {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.fullItemBG {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.76);
    z-index: 9999;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.fullItemContainer{
    max-width: 1200px;
    max-height: 700px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: linear-gradient(-45deg, #378D5A, #27332C);
    padding: 20px 40px;
    border-radius: 16px;
    z-index: 9999;
}

.fullItemImageContainer{
    position: relative;
    box-shadow: 1px 1px 15px  rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    max-width: 400px;
    height: 600px;
}

.fullItemImageContainer img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 16px;

}

.fullItemTextContainer{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px 20px;
    border-radius: 16px;
    min-width: 500px;
}

.fullItemTitleContainer{
    display: flex;
    gap:0px;
    color: gray;
    font-size: 12px;
    margin-bottom: 10px;
}

.fullItemTitleContainer h1{
    font-size: 12px;
    margin: 0;
}

.fullItemName{
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
}

.fullItemDesc{
    background: rgb(241, 241, 241);
    border-radius: 16px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullItemDesc h1{
    text-align: center;
    font-size: 24px;
    max-width: min-content;
}

.fullItemBottomPanel{
    margin-top: auto;
}

.fullItemBottomPanel div{
    display: flex;
    justify-content: space-between;
}

.fullItemPrice{
    font-size: 48px;
    font-weight: 600;
    margin: 0;
}

.addToCartButton{
    background: none;
    border: 0;
    outline: 0;
    background: linear-gradient(-45deg, #378D5A, #27332C);
    color: white;
    width: 50%;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border-radius: 32px;
}

@media (max-width:1200px) {
    .item_card{
        max-width: 240px;
        max-height: 600px;
    }


    .item_image{
        width: 220px;
        height: 280px;
    }


    .item_text{
        min-height: 130px;
    }

    .item_text h1{
        max-width: 160px;
        margin: 0;
        font-size: 12px;
        color: black;
    }

    .item_card .favours{
        max-width: 35px;
    }

    .fullItemContainer{
        max-width: 400px;
        max-height: 90vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px;
        border-radius: 16px;
        z-index: 9999;
        overflow-y: scroll;
    }

    .fullItemImageContainer{
        position: relative;
        box-shadow: 1px 1px 15px  rgba(0, 0, 0, 0.6);
        border-radius: 16px;
        max-width: 100%;
        max-height: 450px;
    }

    .fullItemImageContainer img{
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 16px;

    }

    .fullItemTextContainer{
        display: flex;
        flex-direction: column;
        background: white;
        padding: 20px 20px;
        border-radius: 16px;
        min-width: 200px;
    }

    .fullItemTitleContainer{
        display: flex;
        gap:0px;
        color: gray;
        font-size: 10px;
        margin-bottom: 10px;
    }

    .fullItemTitleContainer h1{
        font-size: 12px;
        margin: 0;
    }

    .fullItemName{
        margin-bottom: 10px;
        font-size: 24px;
        max-width: 400px;
    }

    .fullItemDesc{
        min-height: 200px;
    }

    .fullItemDesc h1{
        font-size: 14px;
    }

    .fullItemBottomPanel{
        margin-top: auto;
    }

    .fullItemBottomPanel div{
        display: flex;
        justify-content: space-between;
    }

    .fullItemPrice{
        font-size: 32px;
        font-weight: 600;
        margin: 0;
    }

    .addToCartButton{
        font-size: 14px;
        border-radius: 16px;
        padding: 10px;
    }
}

@media (max-width:768px) {
    .item_card{
        max-width: 115px;
        max-height: 400px;
        border-radius: 8px;
    }


    .item_image{
        width: 115px;
        height: 160px;
    }
    .item_image, .item_image img{
        border-radius: 6px 6px 0 0;
    }

    .item_text{
        min-height: 80px;
        padding: 10px;
    }

    .item_text h1{
        max-width: 100px;

        font-size: 10px;
        color: black;
    }

    .itemPrice{
        font-size: 10px;
    }

    .storageCount{
        display: none;
    }

    .item_card .favours{
        top: 5px;
        right: 5px;
        max-width: 20px;
    }

    .item_text button{
        font-size: 8px;
        padding: 5px;
        border-radius: 8px;
        margin-top: auto;
    }

    .fullItemContainer{
        padding: 20px 10px;
    }

    .fullItemImageContainer .favours{
        max-width: 30px;
    }
    .fullItemContainer .favours{
        max-width: 40px;
    }
}

@media (max-width:400px) {
    .item_card{
        max-width: 180px;
        max-height: 400px;
        border-radius: 8px;
    }


    .item_image{
        width: 135px;
        height: 180px;
    }

    .item_text{
        min-height: 80px;
    }

    .item_text h1{
        font-size: 9px;
    }

    .itemPrice{
        font-size: 10px;
    }

    .fullItemPrice{
        font-size: 28px;
    }

    .storageCount{
        display: none;
    }

    .item_card .favours{
        top: 5px;
        right: 5px;
        max-width: 20px;
    }

    .item_text button{
        font-size: 12px;
    }
    .fullItemContainer .favours{
        max-width: 40px;
    }
}