.footerBG{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    background:white;
    border-radius: 32px 32px 0 0;
}

.footerContainer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footerContacts{
    display: flex;
    gap:10px;
}

.contactInfo{
    color: white;
    background: linear-gradient(-45deg, #378D5A, #74DC9E, #27332C);
    padding: 0px;
    border-radius: 16px;
    width: 100%;
}



.contactInfo h1, .contactInfo p{
    margin: 20px;
}

.footerContacts iframe{
    padding: 0;
    border: 1px solid black;
}



@media (max-width:768px) {
    .footerContainer{
        max-width: 400px;
    }
    .footerContacts{
        flex-direction: column;
    }

    .footerContacts iframe{
        width: 100%;
        height: 200px;
    }

    .contactInfo{
        padding: 0;
        max-width:calc(400px);
    }
    
    .contactInfo h1{
        font-size: 24px;
    }

}